* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 80px;
}
h1 {text-align: center;}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    font-family: system-ui, sans-serif;
}

#app {
    width: 100%;
    max-width: 980px;
    height: 1200px;
    position: relative;
    background: #ddd;
    overflow: hidden;
    border-radius: 12px;
    aspect-ratio: 1 / 1;

}

img {
    width: 100%;
    max-width: 980px;
    aspect-ratio: 1 / 1;
}


#gift {
    width: 100%;
    height: 100%;
}

#gift img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 12px;
}
  
/* Envoltorio */
#wrapper {
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #c62828, #b71c1c);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;

}
  
.ribbon {
    position: absolute;
    background: #fdd835;
}
  
.ribbon.horizontal {
    height: 32px;
    width: 100%;
}
  
.ribbon.vertical {
    width: 32px;
    height: 100%;
}
  
.hint {
    color: white;
    /* font-size: 16px; */
    /* margin-top: 12px; */
    opacity: 0.9;
    text-shadow: #474747 3px 5px 2px;
}

#wrapper {
    transition: transform 0.5s ease, opacity 0.5s ease;
}
  
#wrapper.opened {
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
}

#gift img {
    transition: transform 0.6s ease;
}

#wrapper.opened + #gift img {
    transform: scale(1.02);
}
  
.ribbon {
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#wrapper.opened .horizontal {
    transform: translateY(-100px);
    opacity: 0;
}

#wrapper.opened .vertical {
    transform: translateX(100px);
    opacity: 0;
}

#wrapper.ribbons-off .horizontal {
    transform: translateY(-100px);
    opacity: 0;
}

#wrapper.ribbons-off .vertical {
    transform: translateX(100px);
    opacity: 0;
}
  

#message {
    text-align: center;
    margin-top: 16px;
    /* font-size: 20px; */
    opacity: 0;
    transition: opacity 0.6s ease;
}

#message.show {
    opacity: 1;
}
  
#confetti {
    position: absolute;
  inset: 0;
  z-index: 20;
  pointer-events: none;

}
  